{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

 

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h3 class="post-title">{{title}}</h3>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{!-- Everything inside the #author tags pulls data from the author --}}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author donate_bar">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    
                     <span class="author-location">
                         问题交流：
                         <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=287688517&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:287688517:51" alt="更一步交流" title="更一步交流"/>
                         </a>
                    </span> 
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
                  <span class="donate_txt">
                    你有所获，我有所得！扫一扫右边，鼓励一下！
                  </span>
 
            </section>

        {{/author}}
             
            <section class="share donate_bar">
                <div>
 
                     
                <a href="http://blog.icloudyin.com/content/images/weixinpay.png">
                    <img src="http://blog.icloudyin.com/content/images/weixinpay.png" height="190px" width="auto" />
                </a>
                
                </div>
               
            </section>
 
            
            
           
            

           

        </footer>

    </article>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h4 class="post-title">{{title}}</h4>
        </section>
    </a>
    {{/next_post}}
    
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h4 class="post-title">{{title}}</h4>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
